@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;

    --font-size-s:14.4px;
    --font-size-n:16px;
    --font-size-m:17.92px;
    --font-size-l:24px;
    --font-size-xl:32px;
    --font-size-xxl:36.8px;

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    --site-max-width:1300px;

}
header{
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 100px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: 0 20px;
}
.logo-text{
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

/*navbar section design*/

.nav-link{
    color: white;
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}
.nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar #menu-close-button,
.navbar #menu-open-button {
    display: none;
}
.nav-menu{
    display: flex;
    gap: 10px;
}

/*hero section design*/

.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
    padding-top: 70px;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    min-height: 100vh;
}
.title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}
.subtitle{
    font-size: var(--font-size-xl);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
}
.description{
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 10px 26px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
}
.button:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.contact-us{
    color: white;
    background: var(--primary-color);
    border-color: white;
    transition: 0.3s ease;
}
.contact-us:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: white;
}
  
/*about section design*/

.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}
.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}
.section-title{
    text-align: center;
    padding: 60px 0 120px;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
}
.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--secondary-color);
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
}
.section-title span{
    color: var(--secondary-color);
}
.text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}
.about-section .about-details .section-title{
    padding: 0;
}
.about-details{
    max-width: 50%;
}
.social-link-list{
    display: flex;
    gap: 20px;
    justify-content: center; 
}
.social-link{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.3s ease;
}
.social-link:hover{
    color: var(--secondary-color);
}

/*menu section styling*/

.menu-section{
    background: var(--dark-color);
    color: white;
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
}
.menu-image{
    max-width: 80%;
    aspect-ratio: 1;
}
.menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
    text-align: center;
}
.menu-details .text{
    
}

@media screen and (max-width: 900px) {
    :root{
        --font-size-m:16px;
        --font-size-l:20.8px;
        --font-size-xl:24px;
        --font-size-xxl:28.8px;
    }
    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4.5px);
        background: rgba(0,0,0,0.2);
    }
    .navbar #menu-close-button,
    .navbar #menu-open-button {
        font-size: var(--font-size-l);
        display: block;
    }
    .nav-menu{
        display: block;
        background: white;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;
    }
    .hero-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }
    .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }
    .hero-section .hero-details :is(.subtitle, .description){
        max-width: 100%;
    
    }
    .buttons{
        justify-content: center;
    }
    body.show-mobile-menu .nav-menu{
        left: 0;
    }
    .nav-link{
        color: var(--dark-color);
        display: block;
        margin-top: 1;
        font-size: var(--font-size-l);
    }
     #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    #menu-open-button{
        color: white;
    }
    .about-section .section-content{
        flex-direction: column;
        gap: 70px;
    }
    .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }    
    
}