@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;

    --font-size-s:14.4px;
    --font-size-n:16px;
    --font-size-m:17.92px;
    --font-size-l:24px;
    --font-size-xl:32px;
    --font-size-xxl:36.8px;

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    --site-max-width:1300px;

}
header{
    background: var(--primary-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.logo-text{
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.nav-link{
    color: white;
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}
.nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.nav-menu{
    display: flex;
    gap: 10px;
}