@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;

    --font-size-s:14.4px;
    --font-size-n:16px;
    --font-size-m:17.92px;
    --font-size-l:24px;
    --font-size-xl:32px;
    --font-size-xxl:36.8px;

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    --site-max-width:1300px;

}
header{
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: 0 20px;
}
.logo-text{
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.nav-link{
    color: white;
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}
.nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar #menu-close-button,
.navbar #menu-open-button {
    display: none;
}
.nav-menu{
    display: flex;
    gap: 10px;
}

.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    min-height: 100vh;
}
.title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}
.subtitle{
    font-size: var(--font-size-xl);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
}
.description{
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 10px 26px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
}
.button:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.contact-us{
    color: white;
    background: var(--primary-color);
    border-color: white;
    transition: 0.3s ease;
}
.contact-us:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: white;
}

@media screen and (max-width: 900px) {
    :root{
        --font-size-m:16px;
        --font-size-l:20.8px;
        --font-size-xl:24px;
        --font-size-xxl:28.8px;
    }
    .navbar #menu-close-button,
    .navbar #menu-open-button {
        font-size: var(--font-size-l);
        display: block;
    }
    .nav-menu{
        display: block;
        background: white;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;
    }
    body.show-mobile-menu .nav-menu{
        left: 0;
    }
    .nav-link{
        color: var(--dark-color);
        display: block;
        margin-top: 1;
        font-size: var(--font-size-l);
    }
     #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    #menu-open-button{
        color: white;
    }    
    
}